<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My React Component Library</title>
  <link rel="shortcut icon" href="/assets/favicon.ico"><link href="/assets/styles/app.cb24d869919250574e27.css" rel="stylesheet"></head>
  <body>
    <div id="styleguide"></div>
  <script type="text/javascript" src="/assets/vendor.bundle.js"></script><script type="text/javascript" src="/assets/app.js"></script><script type="text/javascript" src="/assets/theme-v1.js"></script><script type="text/javascript" src="/assets/Pagination.js"></script><script type="text/javascript" src="/assets/Price.js"></script><script type="text/javascript" src="/assets/Breadcrumb.js"></script><script type="text/javascript" src="/assets/babel.js"></script></body>
</html>
